@import "base";

.CalcButton {
    background: $accent_color;
    width: 150px;
    height: 80px;
    font-size: 24px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 0.15s linear;
    user-select: none;
    font-weight: 700;
    &:hover {
        background: darken($accent_color, 3%);
    }
}

@media (max-width: 800px) {
    .CalcButton {
        width: 70px;
        height: 35px;
    }

}